@model Medicine

@{
    ViewData["Title"] = "Create";

    
    Layout = "_AdminLayout";
}

<h1>Create</h1>

<h4>Project</h4>
<hr />
<div class="row">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="col-5">
                    <label asp-for="TradeName" class="control-label"></label>
                    <input asp-for="TradeName" class="form-control" />
                    <span asp-validation-for="TradeName" class="text-danger"></span>
                </div>
                <div class="col-5">
                    <label asp-for="ScintificName" class="control-label"></label>
                    <input asp-for="ScintificName" class="form-control" />
                    <span asp-validation-for="ScintificName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-5">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="col-5">
                    <label asp-for="SideEffect" class="control-label"></label>
                    <input asp-for="SideEffect" class="form-control" />
                    <span asp-validation-for="SideEffect" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Dosage" class="control-label"></label>
                <input asp-for="Dosage" class="form-control" />
                <span asp-validation-for="Dosage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-5">
                    <label for="Category"  class="control-label">Category</label>
                    <input asp-for="Category.Name" class="form-control" />
                    <span asp-validation-for="Category.Name" class="text-danger"></span>

                </div>
                <div class="col-5">
                    <label asp-for="ManufactureName" class="control-label"></label>
                    <input asp-for="ManufactureName" class="form-control" />
                    <span asp-validation-for="ManufactureName" class="text-danger"></span>

                </div>

            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicineType.TypeName" class="control-label"></label>
                <input asp-for="MedicineType.TypeName" class="form-control" />
                <span asp-validation-for="MedicineType.TypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
