@model ApplicationCore.Entities.Medicine;

@{
    ViewData["Title"] = "Edit";
    Layout = "_AdminLayout";

}
<div style="padding:120px ;">

    <h1>Edit</h1>

    <h4>Project</h4>
    <hr />
    <div class="row p-120">
        <div class="col-md-4">
            <form asp-action="Edit" class="form-group ">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="TradeName" class="control-label "></label>
                    <input asp-for="TradeName" class="form-control" />
                    <span asp-validation-for="TradeName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="col ">
                        <label asp-for="Dosage" class="control-label"></label>
                        <input asp-for="Dosage" class="form-control" />
                        <span asp-validation-for="Dosage" class="text-danger"></span>

                    </div>
                    <div class="col">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col ">
                        <label for="Category.Name" class="control-label"></label>
                        <input asp-for="Category.Name" class="form-control" />
                        <span asp-validation-for="Category.Name" class="text-danger"></span>

                    </div>
                    <div class="col">
                        <label asp-for="ManufactureName" class="control-label"></label>
                        <input asp-for="ManufactureName" class="form-control" />
                        <span asp-validation-for="ManufactureName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col ">
                        <label asp-for="ScintificName" class="control-label"></label>
                        <input asp-for="ScintificName" class="form-control" />
                        <span asp-validation-for="ScintificName" class="text-danger"></span>

                    </div>
                    <div class="col">
                        <label asp-for="MedicineType.TypeName" class="control-label"></label>
                        <input asp-for="MedicineType.TypeName" class="form-control" />
                        <span asp-validation-for="MedicineType.TypeName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col ">
                        <label asp-for="SideEffect" class="control-label"></label>
                        <input asp-for="SideEffect" class="form-control" />
                        <span asp-validation-for="SideEffect" class="text-danger"></span>

                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <input asp-for="Image" class="form-control" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>

                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
