@model IngredientViewModel

@{
    ViewData["Title"] = "Create";
    ViewData["Controller"] = "Ingredient";

}


<div class="modal-header">
    <h5 class="modal-title" id="modalEditLabel">Create Ingredient</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <div class="container ">
        <div class="row justify-content-center">
            <div class="col ">
                <div class=" p-3 bg-white rounded">
                    <div class="">
                        <hr />
                        <form asp-action="Create" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="Name" class="control-label">Name</label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Description" class="control-label">Description</label>
                                <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary mr-4 btn">Create</button>
                                <button type="button" class="btn btn-secondary ml-4" data-dismiss="modal">Close</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
