@model IngredientViewModel

@{
    ViewData["Title"] = "Details";
    ViewData["Controller"] = "Ingredient";
    Layout = "_AdminLayout";

}
<section class="vh-100" style="background-color: #f4f5f7;">
    <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-8">
                <div class="card shadow-sm">
                    <div class="row g-0">
                        <div class="col-md-4 gradient-custom text-center text-white py-4"
                             style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem; background-color: #6a58a1;">
                            <img src="~/img/portfolio/ingredients.png"
                                 alt="Avatar" class="img-fluid my-4" style="width: 120px; border-radius: 50%;" />
                            <h5 class="mb-0">@Model.Name</h5>
                            <div class="mt-3">
                                <button class="btn btn-warning btn-edit m-1" data-id="@Model.Id">Edit</button>
                                <button class="btn btn-danger btn-delete m-1" data-id="@Model.Id">Delete</button>

                                <a asp-action="Index" class="btn btn-sm btn-outline-light">
                                    <i class="far fa-backward me-1"></i> Back to List
                                </a>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-4">
                                <h5 class="card-title">Information</h5>
                                <hr class="my-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="fw-bold mb-1">Description:</p>
                                        <p class="text-muted">@Model.Description</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="fw-bold mb-1">Price:</p>
                                        <p class="text-muted">Not available</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
