@model ApplicationCore.Entities.MedicalState

@{
    ViewData["Title"] = "Create";


}

<h1>Create</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="MedicalState">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="col-5">
                    <label asp-for="StateName" class="control-label"></label>
                    <input asp-for="StateName" class="form-control" />
                    <span asp-validation-for="StateName" class="text-danger"></span>
                </div>
                <div class="col-5">
                    <label asp-for="PrescriptionTime" class="control-label"></label>
                    <input asp-for="PrescriptionTime" class="form-control" />
                    <span asp-validation-for="PrescriptionTime" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                    <label asp-for="StateDescription" class="control-label"></label>
                    <input asp-for="StateDescription" class="form-control" />
                    <span asp-validation-for="StateDescription" class="text-danger"></span>
             
            </div>
            <div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
