@model MedicalStateViewModel

@{
    ViewData["Title"] = "Edit";


}


<div class="modal-header">
    <h5 class="modal-title" id="modalEditLabel">Edit Medical Case</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col p-2">
                <div class="card mb-3 shadow-sm" style="border-radius: .5rem;">
                    
                    <div class="card-body">
                        <form asp-action="Edit" asp-controller="MedicalState">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group mb-3">
                                <label asp-for="StateName" class="form-label">State Name</label>
                                <input asp-for="StateName" class="form-control" />
                                <span asp-validation-for="StateName" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="PrescriptionTime" class="form-label">Prescription Time</label>
                                <input asp-for="PrescriptionTime" class="form-control" />
                                <span asp-validation-for="PrescriptionTime" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="StateDescription" class="form-label">State Description</label>
                                <textarea asp-for="StateDescription" class="form-control" rows="4"></textarea>
                                <span asp-validation-for="StateDescription" class="text-danger"></span>
                            </div>
                            <input type="hidden" asp-for="Id" />
                            <input type="hidden" asp-for="PatientId" />
                            <div class="form-group text-center">
                                <input type="submit" value="Save" class="btn btn-primary me-2" />
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
 @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
